*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1440px;
    max-height: 80px;
    background-color: #FFFFFF;
    border: 1px solid #e2e1e1;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 10px;
    position: static;
}
.navbar-left{
    display: flex;
    max-width: 155px;
    font-size: 23.13px;
    line-height: 130%;
    font-weight: 600;
    gap: 28px;
}
.navbar-left a{
    text-decoration: none;
}
.navbar-center{
    display: flex;
    max-width: 295px;
    gap: 28px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.navbar-center a{
    text-decoration: none;
    color: #2C3131;
}
.navbar-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 218px;
    gap: 28px;
    font-size: 16px;
}
.navbar-right a{
    text-decoration: none;
        color: #2C3131;
}
.getStarted{
    max-width: 137px;
    background-color: #2752E7;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 10px;
}
