*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1440px;
    max-height: 80px;
    background-color: #FFFFFF;
    border: 1px solid #e2e1e1;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 10px;
    position: static;
}
.navbar-left{
    display: flex;
    max-width: 155px;
    font-size: 23.13px;
    line-height: 130%;
    font-weight: 600;
    gap: 28px;
}
.navbar-left a{
    text-decoration: none;
}
.navbar-center{
    display: flex;
    max-width: 295px;
    gap: 28px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.navbar-center a{
    text-decoration: none;
    color: #2C3131;
}
.navbar-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 218px;
    gap: 28px;
    font-size: 16px;
}
.navbar-right a{
    text-decoration: none;
        color: #2C3131;
}
.getStarted{
    max-width: 137px;
    background-color: #2752E7;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 10px;
}

/*Footer section*/
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1233px;
    /* max-height: 809.1px; */
    border-radius: 19.36px;
    background-color: #2752E7;
    color: #FFFFFF;
}
.footer-upper{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    max-width: 1104.55px;
    /* max-height: 382.87px; */
    gap: 116.14px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-upper a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17.28px;
    font-weight: 400;
}
.footer-upper h5{
    font-size: 19.44px;
    font-weight: 600;
}
.foot-note1{
    display: flex;
    flex-direction: column;
    max-width: 135px;
    max-height: 382.87px;
    gap: 25.92px;
}
.foot-note2{
    display: flex;
    flex-direction: column;
    gap: 25.92px;
    max-width: 131px;
    max-height: 296.31px;
}
.foot-note3{
    display: flex;
    flex-direction: column;
    gap: 25.92px;
    max-width: 110px;
    max-height: 296.31px;
}
.foot-note4{
    display: flex;
    flex-direction: column;
    gap: 25.92px;
    max-width: 160px;
    max-height: 209.75px;
}
.foot-note5{
    display: flex;
    flex-direction: column;
    gap: 25.92px;
    max-width: 104px;
    max-height: 209.75px;
}
.h-line{
    display: block;
    width: 1000px;
    padding-right: 50px;
    padding-left: 50px;
    border: 0.97px solid #FFFFFF;

}
.footer-lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-lower h4{
    font-size: 23.23px;
    font-weight: 700;
    line-height: 130%;
}
