*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1440px;
    max-height: 80px;
    background-color: #FFFFFF;
    border: 1px solid #e2e1e1;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 10px;
    position: static;
}
.navbar-left{
    display: flex;
    max-width: 155px;
    font-size: 23.13px;
    line-height: 130%;
    font-weight: 600;
    gap: 28px;
}
.navbar-left a{
    text-decoration: none;
}
.navbar-center{
    display: flex;
    max-width: 295px;
    gap: 28px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.navbar-center a{
    text-decoration: none;
    color: #2C3131;
}
.navbar-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 218px;
    gap: 28px;
    font-size: 16px;
}
.navbar-right a{
    text-decoration: none;
        color: #2C3131;
}
.getStarted{
    max-width: 137px;
    background-color: #2752E7;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 10px;
}
.all-in-one{
    display: flex;
    max-width: 1440px;
    max-height: 759px;
    /* Diagonal gradient - top-left bright, bottom-right dark */
    background: linear-gradient(to right, #2752E7, #0B2271);
}
.currency-converter{
    /* width: 491px; */
    height: 491px;
    border-radius: 20px;
}
/* Coverter container*/
.converter-container {
    background: var(--glass);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--border);
    padding: 40px;
    border-radius: 30px;
    width: 400px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.input-row {
    /* background: rgba(255, 255, 255, 0.08); */
    background-color: rgb(208, 233, 236);
    color: black;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.currency-select {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currency-select img {
    width: 28px;
    border-radius: 4px;
}

select {
    background: transparent;
    border: none;
    color: white;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    appearance: none;
}

.divider {
    width: 1px;
    height: 25px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 15px;
}

input {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    outline: none;
    flex-grow: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Makes the calendar icon white */
}